<mat-card>
  <mat-card-content>
    <h2>Progress spinner</h2>
    <section class="section">
      <label>Color: warn</label>
      <mat-spinner color="warn"></mat-spinner>
    </section>
    <section class="section">
      <label>Color: primary</label>
      <mat-spinner color="primary"></mat-spinner>
    </section>
    <section class="section">
      <label>Color: accent</label>
      <mat-spinner color="accent"></mat-spinner>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2>Progress bar</h2>
    <section class="section">
      <mat-progress-spinner mode="determinate" value='66'></mat-progress-spinner>
    </section>

    <section class="section">
      <label>Change progress bar size</label>
      <mat-progress-spinner mode="determinate" value='66' diameter="45"></mat-progress-spinner>
    </section>
  </mat-card-content>
</mat-card>